node_modules/
dist/
dist-ssr/
coverage/
.turbo/
.vitepress/cache/
.vitepress/dist/
.next/
.vercel/
*.log
*.tgz
*.tsbuildinfo
.env
.env.*
!.env.example
.DS_Store
/.idea/
/_internal/
/output/
/docs/eslint-plugin-react/
packages/openapi-fetch/examples/nextjs/next-env.d.ts
packages/openapi-typescript/test/fixtures/cli-outputs/out/
packages/openapi-typescript/test/fixtures/redocly/output/
packages/openapi-typescript/test/fixtures/redocly-flag/output/
packages/openapi-typescript/test/fixtures/redocly-flag/output-alt/
packages/openapi-typescript/test/fixtures/redocly-lint-error/output/
